{
    "presets":[
        "env",
        "react"
    ],
    "plugins":[
        "transform-class-properties",
        "transform-object-rest-spread"//this plugin is used to support spread object operator(...user)
    ]
}